* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


main {
	max-width: 960px;
	margin: 0 auto;
}

p {
	max-width: 400px;
}

.container {
	padding: 0 20px;
	padding-top: 90px;
}

.user-was-correct::before {
	content: "Shhhh!!!!! (";
}

.user-was-correct::after {
	content: ")";
}

.user-was-incorrect {
	font-size: 50px;
	color: red;
}